{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Success Page</title>
  
</head>

<body>

    <p>
        Hello! You succeeded! Blah Blha {{demo.name}} {{demo.age}}
    </p>
        
        
</body>

</html> --}}

<!DOCTYPE html>
<html>
 
<body>
  <img>
    <p>
      Great Job, {{demo.firstname}} {{demo.lastname}}! Your transaction was a success! You have transferred {{demo.amount}} 
      into {{demo.firstname2}} {{demo.lastname2}}'s account! {{demo.firstname2}} {{demo.notify}}. Your message says <br>
      {{demo.message}}.

     
    </p>
     {{!-- <img src={{demo.image}}> --}}
      {{!-- <img src="../file_uploads/0a94b59529d594d2b45e5c02d2659838.jpg" alt="Mountan"> --}}
       <img src="/uploads/e5bd67f43e5a16b0ec499ffd21e786f8.jpg">
     {{!-- {{demo.image}} --}}
     {{!-- <p>
      {{demo.image}} 
     </p> --}}
</body>
 
</html>