{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Success Page</title>
  
</head>

<body>

    <p>
        Hello! You succeeded! Blah Blha {{demo.name}} {{demo.age}}
    </p>
        
        
</body>

</html> --}}

<!DOCTYPE html>
<html>
 
<body>
  <img>
    <p>
      Great Job, {{demo.firstname}} {{demo.lastname}}! Your transaction was a success! You have transferred {{demo.amount}} 
      into {{demo.firstname2}} {{demo.lastname2}}'s account! {{demo.firstname2}} {{demo.notify}}. Your message says <br>
      {{demo.message}}.
    </p>
</body>
 
</html>