

<!DOCTYPE html>
<html>
  <html lang="en">

<head>
  <title>Success Page</title>
   <link rel="stylesheet" href="/css/Success.css" />
</head>

 
<body>
    <h3>Transcation Success!</h3>
    {{!-- <p id="successmessage">
      Great Job, {{demo.firstname}} {{demo.lastname}}! Your transaction was a success! You have transferred {{demo.amount}} dollars
      into {{demo.firstname2}} {{demo.lastname2}}'s account! {{demo.firstname2}} {{demo.notify}} Your message says
    </p> --}}
    <p id="successmessage">
      Great Job, {{demo.firstname}} {{demo.lastname}}! Your transaction was a success! The details of which are below.
    </p>
    <div class="SenderDetails">
      <p>Sender Details</p>
      <img id="profilepicture" src={{demo.image}}>
      <p>Sender Name: {{demo.firstname}} {{demo.lastname}}</p>
      <p>Amount Sent: {{demo.amount}}</p>
      <p>Message to Recipient:</p>
      <br>
      <p id="usermessage">{{demo.message}}</p>
    </div>
    <div class="RecipientDetails">
      <p>Recipient Details</p>
      <p>Recipient Name: {{demo.firstname2}} {{demo.lastname2}}</p>
      <p>Notification Method: {{demo.notify}}</p>
    </div>
    {{!-- <p id="usermessage">
      {{demo.message}}.
    </p> --}}
       
</body>
 
</html>